﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>لیست محصولات </h3>

<p class="glyphicon glyphicon-shopping-cart"> سبد خرید : <span id="shopcart">0</span> کالا</p>

<a asp-area="Admin" asp-controller="ShopTopLearn" asp-action="Index">
    جزئیات سبدخرید
</a>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Create", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    <p class="text-center">
                        <a class="btn btn-primary" onclick="AddToCart(@item.Id)" role="button">خرید</a>
                    </p>

                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{

    <script>
        function AddToCart(id) {
            $.ajax({
                url: "/ShopTopLearn/AddToCart/" + id,
                type: "Get"
            }).done(function (result) {
                $("#shopcart").html(result);
            });
        }

        $(function () {
            $("#shopcart").load("/ShopTopLearn/ShopCartCount");
        });
    </script>

}


<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td><img src="~/images/@product.ImageName" width="60" /> </td>
            <td>@product.Price</td>
            <td align="center">
                <a asp-controller="Cart" asp-action="Buy" asp-route-id="@product.Id">Buy Now</a>
            </td>
        </tr>
    }
</table>
